html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
font-family: myriad-pro-n4,myriad-pro,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1em;
line-height: 1.4em; 
background-color: #f1f1f1;
color: #424242;
text-align: left;
}

a:link, a:visited {
color: #000;
padding-bottom: 2px;
text-decoration: none;
border-bottom: 1px dotted #424242;
}

a:hover {
color: #424242;
background-color: #ffc;
border-bottom: none;
}

p {
margin-bottom: 23px;
padding: 0;
}

strong, b {
font-family: myriad-pro-n6,myriad-pro,sans-serif;
font-style: normal;
font-weight: 600;
}

em, i {
font-family: myriad-pro-i4,myriad-pro,sans-serif;
font-style: italic;
font-weight: 400;
}

h1 {
font-family: myriad-pro-semi-condensed-n4,myriad-pro-semi-condensed,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: normal;
letter-spacing: 0px;
margin: 0 0 3px 0;
}

h2 {
margin-bottom: 3px;
font-family: myriad-pro-semi-condensed-n4,myriad-pro-semi-condensed,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: normal;
letter-spacing: 0px;
}

h2 a:link, a:hover {
border: 0;
padding: 0;
}

h3 {
font-family: myriad-pro-n6,myriad-pro,sans-serif;
font-style: normal;
font-weight: 600;
margin-bottom: 23px;
font-size: 11px;
text-transform: uppercase;
letter-spacing: .1em;
}

h3 a {
text-decoration: none;
border-bottom: 0;
}

h4 {
margin-bottom: 23px;
font-weight: bold;
font-size: 10px;
letter-spacing: .1em;
}

h5 {
margin-bottom: 5px;
font-weight: normal;
font-size: 10px;
text-transform: uppercase;
letter-spacing: .1em;
}

h6 {
margin-bottom: 3px;
font-size: 12px;
font-weight: bold;
}

h6 a {
background-color: #fff;
padding-bottom: 2px;
border-bottom: 1px solid #ccc;
}

h6 a:hover {
border-bottom: 1px solid #fff;
background-color: #ffc;
}

ul, ol {
margin-top: 5px;
margin-bottom: 23px;
}

dl {
margin-bottom: 23px;
}

li {
margin-left: 30px;
margin-bottom: 6px;
}

dt {
margin-bottom: 18px;
padding: 0;
}

dd {
margin-left: 30px;
margin-bottom: 10px;
}

blockquote {
display: block;
margin-bottom: 23px;
margin-left: 15px;
padding: 0 0px 0 15px;
border-left: 1px solid #ccc;
}

p > code {
background-color: #f3f3f3;
}

pre {
display: block;
margin-bottom: 23px;
padding: 3px;
line-height:20px;
border: 1px #ccc dashed;
width: 96%;
overflow-x: auto;
font-size: .8em;
}

#container {
text-align: left;
width: 920px;
margin: 0 auto;
}

#content {
margin: 0 auto;
width: 800px;
}

#menu {
float: right;
display: inline;
width: 310px;
margin-left: 60px;
margin-right: 15px;
text-align: left;
}

#menu h3 {
font-family: myriad-pro-semi-condensed-n6,myriad-pro-semi-condensed,sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
text-transform: none;
margin: 0px 0px 5px 0px;
}

.small-bottom-margin {
margin-bottom: 5px;
}

#menu ul {
list-style: none;
margin-bottom: 18px;
text-indent: -8px;
margin-left: 10px;
padding-left: 10px;
}

#menu ul a {
width: 100%;
background-color: #fff;
padding-bottom: 2px;
border-bottom: 1px dotted #000;
}

#menu ul a:hover {
border-bottom: 1px dotted #fff;
background-color: #ffc;
}

#menu li {
margin-left: 0px;
margin-bottom: 3px;
font-size: 11px;
line-height: 18px;
}

#menu p {
font-family: myriad-pro-n4,myriad-pro,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 11px;
margin-bottom: 18px;
padding: 0 2px 0 2px;
line-height: 18px;
}

#menu p a {
background-color: #fff;
padding-bottom: 2px;
border-bottom: 1px dotted #000;
}

#menu p a:hover {
border-bottom: 1px dotted #fff;
background-color: #ffc;
}
 
.menu_module {
margin-bottom: 18px;
}

#header {
margin-top: 20px;
margin-bottom: 150px;
}

#header a {
border-bottom: 0px;
padding-bottom: 1px;
}

#header a:hover {
	background-color: #f1f1f1;
border-bottom: 1px dotted #424242;
}


#header img {
margin-left: 15px;
margin-right: 15px;
}

#header_img {
float: left;
padding-top: 15px;
}

#header_img a:hover {
border-bottom: 0px;
}


#header ul {
margin: 14px 0px 0px 0px;
padding: 0 15px 0 0;
list-style: none;
float: right;
}

#header li {
margin: 0;
padding: 0px 0px 0px 10px;
float: left;
font-family: alternate-gothic-no-2-d-n4,alternate-gothic-no-2-d,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5em;
letter-spacing: .1em;
}

#header-title {
margin: 14px 0 14px 0;
padding: 0px 0px 0px 15px;
float: left;
font-family: alternate-gothic-no-2-d-n4,alternate-gothic-no-2-d,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5em;
letter-spacing: .3em;
color: red;
}

#header hr {
	width: 100%;
height: 5px;
background: #424242;
}

.bits_date {
color: #666;
font-weight: bold;
}

#bits-archive h2 {
margin-bottom: 23px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
font-size: 22px;
line-height: normal;
letter-spacing: 0px;
font-weight: normal;
}

#tweet {
text-align: right;
margin: 0px 20px 23px 0px;
}

#twitter {
color: #ccc;
}

.tiny {
font-size: 12px;
}

.article {
margin-bottom: 60px;
}

.article p {
margin-bottom: 23px;
padding: 0px 0px 0px 5px; 
}

.article hr {
text-align: center;
margin: 0 auto 23px auto;
width: 50px;
border-style: solid;
border-width: 1px 0 0 0;
height: 1px;
border-color: #424242;
}

.article_date {
margin-bottom: 10px;
padding-left: 1px;
font-size: 10px;
line-height:15px;
color: #ccc; 
}

.projects_subhead {
margin-bottom: 8px;
padding-left: 5px;
font-size: 11px;
line-height:18px;
color: #ccc;
}

table.center {
margin-left:auto; 
margin-right:auto;
}

td {
padding-right: 10px;
font-family: myriad-pro-n4,myriad-pro,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
border-bottom: 1px solid #424242;
white-space: nowrap;
}

td.noline {
border: 0;
text-align: left;
}

thead { 
font-weight: bold; 
}

#footer {
padding: 12px 0px 12px 0px;
margin-top: 40px;
width: 900px;
float: left;
text-align: center;
display: inline;
line-height: 23px;
font-weight: normal;
letter-spacing: .1em;
border-top: 2px solid #424242;
font-size: 10px;
}

#adsense {
text-align: center;
margin-bottom: 23px;
}

.menu_module_split {
border-top: 2px solid #ccc;
margin-bottom: 7px;
}

#projects a {
border-bottom: 0;
background-color: #fff;
}

#projects a:hover {
background-color: #ffc;
}

#projects ul {
list-style: none;
text-indent: -9px;
margin-left: 5px;
padding-left: 5px;
}

#projects li {
margin-left: 0px;
margin-bottom: 5px;
padding-left: 10px;
font-weight: normal;
text-align: left;
}

#projects dl {
list-style: none;
}

#projects dt {
margin-left: 0px;
margin-bottom: 0px;
padding-left: 10px;
font-weight: normal;
text-align: left;
}

#projects dd {
margin-left: 0px;
margin-bottom: 5px;
padding-left: 25px;
font-weight: normal;
font-size: 11px;
text-align: left;
}

.thumb {	
float: left;
margin-right: 8px;
margin-bottom: 2px;
margin-top: 1px;
margin-left: 0px;
padding: 0px;
}

.thumb-right {	
float: right;
margin-left: 8px;
margin-bottom: 2px;
margin-top: 1px;
margin-right: 0px;
padding: 0px;
}

.thumb a {
border: 0;
}

.thumb_border {
float: left;
margin-right: 12px;
margin-bottom: .5em;
margin-top: .5em;
border: 1px solid #ccc;
padding: 1px;
}

.flush {
margin-bottom: 23px;
padding: 1px;
border: 1px solid #ccc;
}

.two_cents {
padding-left: 5px;
color: #FF1CAE;
}

#e404 h1 {
letter-spacing:.2em;
font-family:'Hoefler Text', Georgia, Times New Roman;
font-size:50px;
text-align:center;
font-weight:normal;
margin-bottom:20px;
}

.amountbox
{
font-family: "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
font-size: 18px;
color: #000000;
width: 55px;
padding: 4px;
margin: 0;
text-align: right;
}

.amount {
font-size: 11px;
line-height: 15px;
font-weight: normal;
margin: 0;
padding: 0;
}

.footnotes {
margin-left: 0px;
}

.footnotes hr {
margin-left: 0;
margin-bottom: 23px;
margin-top: 15px;
width: 120px;
border-style: solid;
border-width: 1px 0 0 0;
height: 1px;
border-color: #424242;
}

.footnotes li p {
font-size: 13px;
line-height: 21px;
margin-bottom: 21px;
}

sup {
line-height: 0px;
}

sup a:link, a:visited, a:hover {
border-bottom: none;
padding: 0px;
}

#donate {
margin-bottom: 15px;
text-align: center;
}

.blogrollfolder {
margin-bottom: 3px;
font-family: "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
font-size: 22px;
line-height: normal;
letter-spacing: 0px;
font-weight: normal;
text-align: left;
}

.blogrollitem {
padding: 0 0 5px 15px;
text-align: left;
}

.blogrollitem a {
background-color: #fff;
padding: 1px;
}

.blogrollitem a:hover {
background-color: #ffc;
}

.flickr {
text-align: center;
margin-bottom: 15px;
}

.flickr img {
padding: 1px;
border: 1px solid #ccc;
}
 
.flickr a {
border: 0;
padding: 0;
background-color: #fff;
}

.flickr-borderless {
text-align: center;
margin-bottom: 15px;
}

.flickr-borderless img {
padding: 0;
border: 0;
}

.flickr-borderless a {
border: 0;
padding: 0;
background-color: #fff;
}

#announce {
border-top: 1px solid #000;
border-bottom: 1px solid #000; 
width: auto;
margin: 0 0 25px 0;
padding: 0 15px;
}

#announce p {
text-align: center;
margin: 3px;
font-size: 1em;
font-weight: bold;
}

#announce p a {
background-color: #fff;
padding-bottom: 2px;
border-bottom: 1px dotted #ccc;
}

#announce p a:hover {
border-bottom: none;
background-color: #ffc;
}

.expand a {
color: #00f;
}

.emptymonth {
color: #d9d9d9;
}

input.searchtext {
color: #333;
margin: 0;
width: 98%;
font-size: x-small;
}

#searchresults p {
margin-bottom: 3px;
}

.align-right {
text-align: right;
}

.bit {
margin-bottom: 60px;
}

.bit p {
margin-bottom: 23px;
}

.bit dl {
margin: 0px;
padding: 0px;
}

.bit dd {
padding-left: 5px;
margin: 0px;
}

form {
margin: 10px 0 23px 5px;
}

#sparkline img {
margin: 0 0 23px 20px;
}  

.permalink a {
font-size: 11px;
color: #C11B17;
background-color: #fff;
padding-bottom: 2px;
text-decoration: none;
border-bottom: none;
}

.permalink a:hover {
color: #C11B17;
background-color: #fff;
}

.posted_on {
font-size:11px;
}

#carbonads-container {
margin: 0px 0px 23px 0px!important;
padding: 0px!important;
}

.carbonad {
background: #fff!important;
border: 0px!important;
padding: 0px!important;
}

.carbonad-text {
font-size: 11px!important;
font-family: myriad-pro-n4,myriad-pro,sans-serif!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 18px!important;
}

.carbonad-tag {
font-size: 11px!important;
font-family: myriad-pro-n4,myriad-pro,sans-serif!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 18px!important;
color: #ccc!important;
text-align: right!important;
}

.carbonad-tag a {
color: #ccc!important;
border:0px!important;
}

/*****************************************************/
/* CSS for the polls     */

.democracy-choice {
display: block;
background-color: #FF1CAE;
height: 5px;

font-size: 1px;
}

.dem-choice-border {
margin: 8px 0;
display: block;
background-color: #000;
height: 5px;
width: 100px;
border: 1px solid #000;
}

/* BLIX fixies */
#democracy input { width: auto; }
#democracy ul { 
padding: 0; 
list-style: none;
} 
#democracy label {
float: none;
display: inline;
}

#voted-for-this { border: 1px solid #333;}

#dem-total-votes { }
#poll-question {
font-weight: bold;
}
#democracy { }

/*****************************************************/



/*****************************************************/
/* Left in for the demo of the PHP Slideshow project */
#photos {
text-align: center;
}

#photos img {
border: 1px solid #ccc;
padding: 4px;
line-height: 90%;
}

#photos a {
text-decoration: none;
}

#photos h1 {
margin: 40px 0 10px 0;
font-size: 16px;
line-height:normal;
font-weight: bold;
color: #000; 
}

#photo_summary {
margin: 0 100px 0 100px;
text-align: left;
}

#photo_summary a {
text-decoration: none;
}

#results {
margin-top: 30px;
}

#results ul {
list-style-type:none;
}

#results li {
position:relative;
margin-left: 0px;
margin-bottom: 5px;
padding-left: 10px;
font-weight: normal;
text-align: left;
}

#results li a {
border-bottom: 0px;
}

#results li span.dot {
position:absolute;
top:0;
left:0;
}

.resultsDates {
padding-left: 10px;
font-size:10px;
color:#ccc;
}

#nav-below {
margin-top: 20px;
}

#post-nav {
	width: 500px;
	list-style: none;
	text-transform:  uppercase;
	letter-spacing: .2em;
	float: left;
	clear: both;
}

#post-nav li {
margin: 0px;
padding: 0px;
}

#post-nav a {
text-decoration: none;
border: 0px;
	}

#prev {
	width: 160px;
	float: left;
}

#next {
	width: 160px;
	float: right;
	text-align: right;
}

.category {
margin-bottom: 30px;
}